<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <span class="h3">List Employee</span>
      <button class="btn btn-primary btn-lg float-right" routerLink="/create-employee">Add</button>
      <table class="table mt-4 table-striped ">
        <thead>
        <tr>
          <th >First</th>
          <th >Last</th>
          <th >Document</th>
          <th >Salary</th>
          <th ></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row">Santi</td>
          <td>R</td>
          <td>Doc1</td>
          <td>45000 </td>
          <td>
            <i class="far fa-edit mr-2 text-primary"></i>
            <i class="far fa-trash-alt text-danger"></i>

          </td>
        </tr>
        <tr>
          <td scope="row">Santi</td>
          <td>R</td>
          <td>Doc1</td>
          <td>45000</td>
          <td>icono</td>
        </tr>
        <tr>
          <td scope="row">Santi</td>
          <td>R</td>
          <td>Doc1</td>
          <td>45000</td>
          <td>icono</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
