/* You can add global styles to this file, and also import other style files */
body{
  /*background: linear-gradient(rgba(0,0,0,0,0.6) , rgba(0,0,0,0,0.6), url('./assets/fondo.jpg'));*/
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,8)), url('./assets/background.jpg');
 /*background-image: url("./assets/background.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*ocupa toda la pantalla*/
  height: 100vh;
}
